.highLight {
  border-radius: var(--radius-full);
  background: linear-gradient(
    20deg,
    oklch(from var(--jt-skyBlue-600) l c h / 0.1),
    oklch(from var(--jt-skyBlue-600) l c h / 0.02)
  );
}

p.dayNight {
  min-width: fit-content;
  font-weight: var(--font-weight-400);
}

.featureLabel {
  font-size: var(--h5-font);
  font-weight: var(--font-weight-200);
}

.rating {
  & :nth-child(n + 2) {
    margin-inline-start: calc(var(--space-1) * -1);
  }
  & > svg * {
    fill: url(#jt-yellow-gradient);
    stroke: url(#jt-yellow-gradient);
    stroke-width: 0.2;
  }
}

.priceContainer {
  div {
    --gradientBox-angle: 10deg;
    border-radius: var(--radius-full);
    font-size: var(--font-subtitle);
    font-weight: var(--font-weight-500);
  }
  a {
    /* text-transform: uppercase; */
    font-size: var(--h5-font);
    font-weight: var(--font-weight-300);
    color: oklch(from var(--jt-light-base) l c h / 0.6);

    &:hover {
      color: var(--jt-light-base);
      text-decoration: underline;
    }
  }
}
