.primary {
	color: var(--jt-dark-exact);
}

.secondary {
	color: var(--jt-light-exact);
}

.primaryGradient * {
	fill: url(#jt-primary-gradient);
}

.secondaryGradient * {
	fill: url(#jt-secondary-gradient);
}