.btn {
  border: none;
  border-radius: var(--radius-full);
  font-size: var(--font-btn);
  font-weight: var(--font-weight-400);
}

.navPrimary,
.navSecondary {
  border-radius: var(--radius-lg);
  font-size: var(--font-sm);
}

.navPrimary,
.primary {
  background: var(--jt-light-exact);
  color: var(--jt-dark-exact);

  &:hover {
    background: oklch(from var(--jt-light-exact) l c h/0.9);
  }
}
