.shell {
  min-height: 100dvh;
}

.mainWrapper {
  display: flex;
  height: calc(100dvh - 55px);
}

.main {
  flex: 1;
  min-width: 0;
  padding: 8px;
  height: calc(100dvh - 55px);
  overflow-y: auto;
}
